body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
}

/*  #region Header  */
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.nav-web {
  color: #2e2f42;
}
.nav-link {
  color: #2e2f42;
  list-style-type: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.nav-link:focus {
  color: #404bbf;
}

.nav-link:hover {
  color: #404bbf;
}

.nav-link:active {
  color: #404bbf;
}

.page-address {
  font-style: normal;
}

.page-addressmp a {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  list-style-type: none;
  text-decoration: none;
}

.address-link:focus {
  color: #404bbf;
}

.address-link:hover {
  color: #404bbf;
}
.section-first {
  background-color: #2e2f42;
}

.section-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.button-order {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}
.button-order:focus {
  background-color: #404bbf;
}

.button-order:hover {
  background-color: #404bbf;
}

.features-htxt {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-ptxt {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.page-section-three {
  background-color: #f4f4fd;
}

.section-team {
  background-color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.page-text-bord li {
  background-color: #ffffff;
}

.txt-icon {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.pxp-icon {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.text-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.sec-main-txt {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.main-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* #endregion Header */

/* #region section1 */

.section1-- {
  background-color: var(--text-color);
  text-align: center;
}

.section-title {
  color: #ffffff;
}

.section1--btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--light-color);
  background-color: var(--primary-color);
}

.section1--btn:hover,
.section1--btn:focus {
  background-color: var(--secondary-color);
}

/* #region Footer */
.footer {
  background: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-color {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* #endregion Footer */
